body {
  font-family: Arial, Helvetica, sans-serif;
}

.score {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.heading {
  font-family: 'Lobster', cursive;
  text-align: center;
}

#container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid red;
}

.pixel {
  background-color: #ece4d8;
  width: 10px;
  height: 10px;
}

#create {
  margin: 10px;
}

#loader {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

ul#list li {
  cursor: pointer;
}
